@import './micro-css-framework/index.css';

body {
  overflow-x: hidden;
  overflow-y: auto;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main { 
  width : 100vw;
  height : 100vh;
  overflow-x : hidden;
}

