@import './micro-css-framework/colors.css';
@import './micro-css-framework/margins.css';
@import './micro-css-framework/paddings.css';
@import './micro-css-framework/positions.css';
@import './micro-css-framework/displays.css';
@import './micro-css-framework/flex.css';
@import './micro-css-framework/grid.css';
@import './micro-css-framework/text.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

