@import './micro-css-framework/colors.css';
@import './micro-css-framework/margins.css';
@import './micro-css-framework/paddings.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

