@import './_var_colors.scss';

.border-none { border-style : none; }
.border-solid { border-style: solid; }
.border-dashed { border-style: dashed; }
.border-dotted { border-style: dotted; }
.border-double { border-style: double; }
.border-groove { border-style: groove; }
.border-hidden { border-style: hidden; }
.border-inherit { border-style: inherit; }
.border-inset { border-style: inset; }
.border-outset { border-style: outset; }
.border-ridge { border-style: ridge; }
.border-unset { border-style: unset; }

.border-left-none { border-left-style : none; }
.border-left-solid { border-left-style: solid; }
.border-left-dashed { border-left-style: dashed; }
.border-left-dotted { border-left-style: dotted; }
.border-left-double { border-left-style: double; }
.border-left-groove { border-left-style: groove; }
.border-left-hidden { border-left-style: hidden; }
.border-left-inherit { border-left-style: inherit; }
.border-left-inset { border-left-style: inset; }
.border-left-outset { border-left-style: outset; }
.border-left-ridge { border-left-style: ridge; }
.border-left-unset { border-left-style: unset; }

.border-right-none { border-right-style : none; }
.border-right-solid { border-right-style: solid; }
.border-right-dashed { border-right-style: dashed; }
.border-right-dotted { border-right-style: dotted; }
.border-right-double { border-right-style: double; }
.border-right-groove { border-right-style: groove; }
.border-right-hidden { border-right-style: hidden; }
.border-right-inherit { border-right-style: inherit; }
.border-right-inset { border-right-style: inset; }
.border-right-outset { border-right-style: outset; }
.border-right-ridge { border-right-style: ridge; }
.border-right-unset { border-right-style: unset; }

.border-top-none { border-top-style : none; }
.border-top-solid { border-top-style: solid; }
.border-top-dashed { border-top-style: dashed; }
.border-top-dotted { border-top-style: dotted; }
.border-top-double { border-top-style: double; }
.border-top-groove { border-top-style: groove; }
.border-top-hidden { border-top-style: hidden; }
.border-top-inherit { border-top-style: inherit; }
.border-top-inset { border-top-style: inset; }
.border-top-outset { border-top-style: outset; }
.border-top-ridge { border-top-style: ridge; }
.border-top-unset { border-top-style: unset; }

.border-bottom-none { border-bottom-style : none; }
.border-bottom-solid { border-bottom-style: solid; }
.border-bottom-dashed { border-bottom-style: dashed; }
.border-bottom-dotted { border-bottom-style: dotted; }
.border-bottom-double { border-bottom-style: double; }
.border-bottom-groove { border-bottom-style: groove; }
.border-bottom-hidden { border-bottom-style: hidden; }
.border-bottom-inherit { border-bottom-style: inherit; }
.border-bottom-inset { border-bottom-style: inset; }
.border-bottom-outset { border-bottom-style: outset; }
.border-bottom-ridge { border-bottom-style: ridge; }
.border-bottom-unset { border-bottom-style: unset; }

.border-1 { border-width: 1px; }
.border-2 { border-width: 2px; }
.border-3 { border-width: 3px; }
.border-4 { border-width: 4px; }
.border-5 { border-width: 5px; }
.border-6 { border-width: 6px; }

.border-left-1 { border-left-width: 1px; }
.border-left-2 { border-left-width: 2px; }
.border-left-3 { border-left-width: 3px; }
.border-left-4 { border-left-width: 4px; }
.border-left-5 { border-left-width: 5px; }
.border-left-6 { border-left-width: 6px; }

.border-right-1 { border-right-width: 1px; }
.border-right-2 { border-right-width: 2px; }
.border-right-3 { border-right-width: 3px; }
.border-right-4 { border-right-width: 4px; }
.border-right-5 { border-right-width: 5px; }
.border-right-6 { border-right-width: 6px; }

.border-top-1 { border-top-width: 1px; }
.border-top-2 { border-top-width: 2px; }
.border-top-3 { border-top-width: 3px; }
.border-top-4 { border-top-width: 4px; }
.border-top-5 { border-top-width: 5px; }
.border-top-6 { border-top-width: 6px; }

.border-bottom-1 { border-bottom-width: 1px; }
.border-bottom-2 { border-bottom-width: 2px; }
.border-bottom-3 { border-bottom-width: 3px; }
.border-bottom-4 { border-bottom-width: 4px; }
.border-bottom-5 { border-bottom-width: 5px; }
.border-bottom-6 { border-bottom-width: 6px; }

.border-primary { border-color: $primary; }
.border-background { border-color: $background; }
.border-secondary { border-color : $secondary; }
.border-accent { border-color: $accent; }
.border-text { border-color: $text; }

.border-left-primary { border-left-color: $primary; }
.border-left-background { border-left-color: $background; }
.border-left-secondary { border-left-color : $secondary; }
.border-left-accent { border-left-color: $accent; }
.border-left-text { border-left-color: $text; }

.border-right-primary { border-right-color: $primary; }
.border-right-background { border-right-color: $background; }
.border-right-secondary { border-right-color : $secondary; }
.border-right-accent { border-right-color: $accent; }
.border-right-text { border-right-color: $text; }

.border-top-primary { border-top-color: $primary; }
.border-top-background { border-top-color: $background; }
.border-top-secondary { border-top-color : $secondary; }
.border-top-accent { border-top-color: $accent; }
.border-top-text { border-top-color: $text; }

.border-bottom-primary { border-bottom-color: $primary; }
.border-bottom-background { border-bottom-color: $background; }
.border-bottom-secondary { border-bottom-color : $secondary; }
.border-bottom-accent { border-bottom-color: $accent; }
.border-bottom-text { border-bottom-color: $text; }