.bg-primary {
  background-color: $primary;
}
.bg-secondary {
  background-color: $secondary;
}
.bg-accent {
  background-color: $accent;
}
.bg {
  background-color: $background;
}

.color {
  color: $text;
}
.color-primary {
  color: $primary;
}
.color-secondary {
  color: $secondary;
}
.color-accent {
  color: $accent;
}
.color-bg {
  color: $background;
}
