.block { display: block; }
.flex { display: flex; }
.inline { display: inline; }
.grid { display: grid; }
.contents { display: contents; }
.flexbox { display: flexbox; }
.flow-root { display: flow-root; }
.inline-block { display: inline-block; }
.inline-flex { display: inline-flex; }
.inline-flexbox { display: inline-flexbox; }
.inline-table { display: inline-table; }
.list-item { display: list-item; }
.display-none { display: none; }
.ruby { display: ruby; }
.ruby-base { display: ruby-base; }
.ruby-base-container { display: ruby-base-container; }
.ruby-text { display: ruby-text; }
.ruby-text-container { display: ruby-text-container; }
.run-in { display: run-in; }
.table { display: table; }
.table-caption { display: table-caption; }
.table-cell { display: table-cell; }
.table-column { display: table-column; }
.table-column-group { display: table-column-group; }
.table-footer-group { display: table-footer-group; }
.table-header-group { display: table-header-group; }
.table-row { display: table-row; }
.table-row-group { display: table-row-group; }