$spacer : 1;

.m-1 { margin : calc(0.5rem * $spacer); }
.mt-1 { margin-top : calc(0.5rem * $spacer); }
.mb-1 { margin-bottom : calc(0.5rem * $spacer); }
.ml-1 { margin-left : calc(0.5rem * $spacer); }
.mr-1 { margin-right : calc(0.5rem * $spacer); }

.m-2 { margin : calc(1rem * $spacer); }
.mt-2 { margin-top : calc(1rem * $spacer); }
.mb-2 { margin-bottom : calc(1rem * $spacer); }
.ml-2 { margin-left : calc(1rem * $spacer); }
.mr-2 { margin-right : calc(1rem * $spacer); }

.m-3 { margin : calc(1.5rem * $spacer); }
.mt-3 { margin-top : calc(1.5rem * $spacer); }
.mb-3 { margin-bottom : calc(1.5rem * $spacer); }
.ml-3 { margin-left : calc(1.5rem * $spacer); }
.mr-3 { margin-right : calc(1.5rem * $spacer); }

.m-4 { margin : calc(2rem * $spacer); }
.mt-4 { margin-top : calc(2rem * $spacer); }
.mb-4 { margin-bottom : calc(2rem * $spacer); }
.ml-4 { margin-left : calc(2rem * $spacer); }
.mr-4 { margin-right : calc(2rem * $spacer); }

.m-5 { margin : calc(2.5rem * $spacer); }
.mt-5 { margin-top : calc(2.5rem * $spacer); }
.mb-5 { margin-bottom : calc(2.5rem * $spacer); }
.ml-5 { margin-left : calc(2.5rem * $spacer); }
.mr-5 { margin-right : calc(2.5rem * $spacer); }

.m-6 { margin : calc(3rem * $spacer); }
.mt-6 { margin-top : calc(3rem * $spacer); }
.mb-6 { margin-bottom : calc(3rem * $spacer); }
.ml-6 { margin-left : calc(3rem * $spacer); }
.mr-6 { margin-right : calc(3rem * $spacer); }

.m-7 { margin : calc(3.5rem * $spacer); }
.mt-7 { margin-top : calc(3.5rem * $spacer); }
.mb-7 { margin-bottom : calc(3.5rem * $spacer); }
.ml-7 { margin-left : calc(3.5rem * $spacer); }
.mr-7 { margin-right : calc(3.5rem * $spacer); }

.m-8 { margin : calc(4rem * $spacer); }
.mt-8 { margin-top : calc(4rem * $spacer); }
.mb-8 { margin-bottom : calc(4rem * $spacer); }
.ml-8 { margin-left : calc(4rem * $spacer); }
.mr-8 { margin-right : calc(4rem * $spacer); }

.m-9 { margin : calc(4.5rem * $spacer); }
.mt-9 { margin-top : calc(4.5rem * $spacer); }
.mb-9 { margin-bottom : calc(4.5rem * $spacer); }
.ml-9 { margin-left : calc(4.5rem * $spacer); }
.mr-9 { margin-right : calc(4.5rem * $spacer); }

.m-10 { margin : calc(5rem * $spacer); }
.mt-10 { margin-top : calc(5rem * $spacer); }
.mb-10 { margin-bottom : calc(5rem * $spacer); }
.ml-10 { margin-left : calc(5rem * $spacer); }
.mr-10 { margin-right : calc(5rem * $spacer); }

.m-11 { margin : calc(5.5rem * $spacer); }
.mt-11 { margin-top : calc(5.5rem * $spacer); }
.mb-11 { margin-bottom : calc(5.5rem * $spacer); }
.ml-11 { margin-left : calc(5.5rem * $spacer); }
.mr-11 { margin-right : calc(5.5rem * $spacer); }

.m-12 { margin : calc(6rem * $spacer); }
.mt-12 { margin-top : calc(6rem * $spacer); }
.mb-12 { margin-bottom : calc(6rem * $spacer); }
.ml-12 { margin-left : calc(6rem * $spacer); }
.mr-12 { margin-right : calc(6rem * $spacer); }