$spacer : 1;

.p-1 { padding : calc(0.5rem * $spacer); }
.pt-1 { padding-top : calc(0.5rem * $spacer); }
.pb-1 { padding-bottom : calc(0.5rem * $spacer); }
.pl-1 { padding-left : calc(0.5rem * $spacer); }
.pr-1 { padding-right : calc(0.5rem * $spacer); }

.p-2 { padding : calc(1rem * $spacer); }
.pt-2 { padding-top : calc(1rem * $spacer); }
.pb-2 { padding-bottom : calc(1rem * $spacer); }
.pl-2 { padding-left : calc(1rem * $spacer); }
.pr-2 { padding-right : calc(1rem * $spacer); }

.p-3 { padding : calc(1.5rem * $spacer); }
.pt-3 { padding-top : calc(1.5rem * $spacer); }
.pb-3 { padding-bottom : calc(1.5rem * $spacer); }
.pl-3 { padding-left : calc(1.5rem * $spacer); }
.pr-3 { padding-right : calc(1.5rem * $spacer); }

.p-4 { padding : calc(2rem * $spacer); }
.pt-4 { padding-top : calc(2rem * $spacer); }
.pb-4 { padding-bottom : calc(2rem * $spacer); }
.pl-4 { padding-left : calc(2rem * $spacer); }
.pr-4 { padding-right : calc(2rem * $spacer); }

.p-5 { padding : calc(2.5rem * $spacer); }
.pt-5 { padding-top : calc(2.5rem * $spacer); }
.pb-5 { padding-bottom : calc(2.5rem * $spacer); }
.pl-5 { padding-left : calc(2.5rem * $spacer); }
.pr-5 { padding-right : calc(2.5rem * $spacer); }

.p-6 { padding : calc(3rem * $spacer); }
.pt-6 { padding-top : calc(3rem * $spacer); }
.pb-6 { padding-bottom : calc(3rem * $spacer); }
.pl-6 { padding-left : calc(3rem * $spacer); }
.pr-6 { padding-right : calc(3rem * $spacer); }

.p-7 { padding : calc(3.5rem * $spacer); }
.pt-7 { padding-top : calc(3.5rem * $spacer); }
.pb-7 { padding-bottom : calc(3.5rem * $spacer); }
.pl-7 { padding-left : calc(3.5rem * $spacer); }
.pr-7 { padding-right : calc(3.5rem * $spacer); }

.p-8 { padding : calc(4rem * $spacer); }
.pt-8 { padding-top : calc(4rem * $spacer); }
.pb-8 { padding-bottom : calc(4rem * $spacer); }
.pl-8 { padding-left : calc(4rem * $spacer); }
.pr-8 { padding-right : calc(4rem * $spacer); }

.p-9 { padding : calc(4.5rem * $spacer); }
.pt-9 { padding-top : calc(4.5rem * $spacer); }
.pb-9 { padding-bottom : calc(4.5rem * $spacer); }
.pl-9 { padding-left : calc(4.5rem * $spacer); }
.pr-9 { padding-right : calc(4.5rem * $spacer); }

.p-10 { padding : calc(5rem * $spacer); }
.pt-10 { padding-top : calc(5rem * $spacer); }
.pb-10 { padding-bottom : calc(5rem * $spacer); }
.pl-10 { padding-left : calc(5rem * $spacer); }
.pr-10 { padding-right : calc(5rem * $spacer); }

.p-11 { padding : calc(5.5rem * $spacer); }
.pt-11 { padding-top : calc(5.5rem * $spacer); }
.pb-11 { padding-bottom : calc(5.5rem * $spacer); }
.pl-11 { padding-left : calc(5.5rem * $spacer); }
.pr-11 { padding-right : calc(5.5rem * $spacer); }

.p-12 { padding : calc(6rem * $spacer); }
.pt-12 { padding-top : calc(6rem * $spacer); }
.pb-12 { padding-bottom : calc(6rem * $spacer); }
.pl-12 { padding-left : calc(6rem * $spacer); }
.pr-12 { padding-right : calc(6rem * $spacer); }