.static { position : static; }
.sticky { position : sticky; }
.fixed { position : fixed; }
.relative { position : relative; }
.absolute { position : absolute; }
.p-inherit { position: inherit; }
.p-unset { position: unset; }
.p-initial { position: initial; }