/* aligment */

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

/* font-weight */

.f-100 { font-weight: 100; }
.f-200 { font-weight: 200; }
.f-300 { font-weight: 300; }
.f-400 { font-weight: 400; }
.f-500 { font-weight: 500; }
.f-600 { font-weight: 600; }
.f-700 { font-weight: 700; }
.f-800 { font-weight: 800; }
.f-900 { font-weight: 900; }

/* font-size */

.f-xxs { font-size: 0.5rem; }
.f-xs { font-size: 0.75rem; }
.f-s { font-size : 1rem; }
.f-m { font-size : 1.25rem; }
.f-l { font-size : 1.5rem; }
.f-xl { font-size : 1.75rem; }
.f-xxl { font-size : 2rem; }

.f-h1 { font-size : 3rem; }
.f-h2 { font-size : 2.75rem; }
.f-h3 { font-size : 2.5rem; }
.f-h4 { font-size: 2.25rem; }

/* text-decoration */

.decoration-none { text-decoration: none; }
.decoration-dashed { text-decoration: dashed; }
.decoration-dotted { text-decoration: dotted; }
.decoration-double { text-decoration: double; }
.decoration-line-through { text-decoration: line-through; }
.decoration-overline { text-decoration: overline; }
.decoration-solid { text-decoration: solid; }
.decoration-underline { text-decoration: underline; }
.decoration-wavy { text-decoration: wavy; }
