.jc-start { justify-content: flex-start; }
.jc-center { justify-content: center; }
.jc-end { justify-content: flex-end; }
.jc-evenly { justify-content: space-evenly; }
.jc-around { justify-content: space-around; }
.jc-between { justify-content: space-between; }

.ac-start { align-content: flex-start; }
.ac-center { align-content: center; }
.ac-end { align-content: flex-end; }

.flex-col { flex-direction: column; }
.flex-colr { flex-direction: column-reverse; }
.flex-row { flex-direction: row; }
.flex-rowr { flex-direction: row-reverse; }