$accent: #94ebfe;

.profile {
  border-top: solid $accent 0.25rem;
  animation: appear 350ms ease-in-out;
}

.avatar {
  width: 6rem;
  height: 6rem;
}

.btn {
  border: none;
  border-bottom: solid $accent 2px;
  transition: background-color 250ms;
}

.btn:hover {
  background-color: #064250;
}

.btn:active {
  border: none;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0) translateY(200px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}
