$accent: #94ebfe;

.profile {
    border-top: solid $accent 0.25rem;
}

.avatar {
  width: 6rem;
  height: 6rem;
}

.btn {
  border: none;
  border-bottom: solid $accent 2px;
  transition: background-color 250ms;
}

.btn:hover {
    background-color: #064250;
}

.btn:active { 
    border: none;
}
