textarea {
  max-width: 65%;
  width: 65%;
  max-height: 20rem;
  min-height: 15rem;

  @media screen and (max-width: 992px) {
    max-width: 80%;
    width: 80%;
    max-height: 15rem;
    min-height: 12rem;
  }
}

#sendButton {
  transition: background-color 250ms, color 250ms;
  will-change: background-color, color;

  @media screen and (max-width: 992px) {
    padding-left: 3rem;
  }
}

#sendButton:hover {
  background-color: #0288a7;
  color: #d2f6ff;
}
